h1 {
  color: rgb(0, 182, 30);
}
img {
  width: 400px;
}
#thirdDiv {
  width: 500px;
  height: 600px;
  background-color: rgb(247, 170, 4);
  padding: 50px;
  border: red;
}
#spanId {
  font-size: 18px;
  margin: 50px;
}
